[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "idmact"]
	path = idmact
	url = https://github.com/mncube/idmact
[submodule "swaprinc"]
	path = swaprinc
	url = https://github.com/mncube/swaprinc
